body {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #2a3b4c;
  margin-block-start: initial;
  padding-left: 19%;
  background-color: #f4f4f4;
}

.dashboard {
  display: flex;
  color: #2a3b4c;
}

.sidebar {
  width: 250px;
  background-color: #2a3b4c;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #3a4b5c;
}

.content {
  flex: 1;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 850px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  border: 1px solid #040210;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #4CAF50;
  color: rgb(7, 2, 36);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

h2 {
  color: #2a3b4c;
}
